sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/library/dsengine/datastore-engine/resources/idp/xsd/v03_01/idp/xsd/IdP.AllineamentoPendenze.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Admin 
	(None) -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - **** 
	TAS S.p.A. **** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	- - - - **** **** Project. . : IRIS **** **** Nome . . . : IdpAllineamentoPendenze 
	**** Versione . : 01.03-01 Draft 01 **** **** Descrizione: Invio e Manutenzione 
	delle Pendenze **** **** - - - - - - - - - - - - - - - - - - - - - - - - 
	- - - - - - - -->
<xs:schema
	xmlns="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpAllineamentoPendenze"
	xmlns:h="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpHeader"
	xmlns:i="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpInclude"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpAllineamentoPendenze"
	elementFormDefault="qualified">

	<xs:import schemaLocation="IdP.Header.xsd"
		namespace="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpHeader" />
	<xs:import schemaLocation="IdP.Include.xsd"
		namespace="http://www.cart.rete.toscana.it/servizi/iris_1_1/IdpInclude" />

	<xs:element name="IdpAllineamentoPendenze" type="IdpAllineamentoPendenze" />

	<xs:complexType name="IdpAllineamentoPendenze">
		<xs:sequence>
			<xs:element ref="h:IdpHeader" />
			<xs:element name="IdpBody" type="IdpBody" />
		</xs:sequence>
		<xs:attribute name="Versione" type="Versione" use="required" />
	</xs:complexType>

	<xs:simpleType name="Versione">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01.03-00" />
			<xs:enumeration value="01.03-01" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Definizione del Body -->
	<xs:complexType name="IdpBody">
		<xs:sequence>
			<xs:element name="Pendenza" type="Pendenza" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- Definizione della Pendenza -->
	<xs:complexType name="Pendenza">
		<xs:complexContent>
			<xs:extension base="HeadPendenza">
				<xs:sequence>
					<xs:element name="Insert" type="Pendenza.InsertReplace"
						minOccurs="0" />
					<xs:element name="UpdateMassivo" type="Pendenza.UpdateMassivo"
						minOccurs="0" />
					<xs:element name="UpdateStatus" type="Pendenza.UpdateStatus"
						minOccurs="0" />
					<xs:element name="Replace" type="Pendenza.InsertReplace"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HeadPendenza">
		<xs:sequence>
			<xs:element name="IdPendenza" type="i:IdentificativoIdp" />
			<xs:element name="Mittente" type="Mittente" />
			<xs:element name="Destinatari" type="Destinatari" />
			<xs:element minOccurs="0" name="CartellaDiPagamento" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="it">01.03-02: Specifica se
						la pendenza deve essere considerata come una cartella di
						pagamento:
						le condizoni associate possono essere pagate solo congiuntamente
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Note" type="i:Max2000Text" />
		</xs:sequence>
		<xs:attribute name="TipoPendenza" type="i:Max35Text" use="required" />
		<xs:attribute name="TipoOperazione" type="i:TipoOperazione"
			use="required" />
	</xs:complexType>

	<!-- Definizione della Pendenza per Insert/Replace (patch compatibilità 
		AXIS 1.4 - Comune Prato) -->
	<xs:complexType name="Pendenza.UpdateMassivo">
		<xs:sequence>
			<xs:element name="DescrizioneCausale" type="i:Max256Text" />
			<xs:element name="Riscossore" type="Riscossore" minOccurs="0" />
			<xs:element name="DataCreazione" type="i:IdPDateTime" />
			<xs:element name="DataEmissione" type="i:IdPDateTime" />
			<xs:element name="DataPrescrizione" type="i:IdPDateTime" />
			<xs:element name="AnnoRiferimento" type="xs:gYear" />
			<xs:element name="DataModificaEnte" type="i:IdPDateTime"
				minOccurs="0" />
			<xs:element name="Stato" type="i:StatoPendenza" />
			<xs:element name="ImportoTotale" type="i:Importo" />
			<xs:element name="Divisa" type="i:Divisa" />
			<xs:element name="InfoPagamento" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InfoPagamento.InsertReplace">
							<xs:sequence>
								<xs:element name="DettaglioPagamento" type="DettaglioPagamento.InsertReplace"
									maxOccurs="unbounded" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Allegato" type="Allegato" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<!-- Definizione della Pendenza per Insert/Replace (patch compatibilità 
		AXIS 1.4 - Comune Prato) -->
	<xs:complexType name="Pendenza.InsertReplace">
		<xs:sequence>
			<xs:element name="DescrizioneCausale" type="i:Max256Text" />
			<xs:element name="Riscossore" type="Riscossore" minOccurs="0" />
			<xs:element name="DataCreazione" type="i:IdPDateTime" />
			<xs:element name="DataEmissione" type="i:IdPDateTime" />
			<xs:element name="DataPrescrizione" type="i:IdPDateTime" />
			<xs:element name="AnnoRiferimento" type="xs:gYear" />
			<xs:element name="DataModificaEnte" type="i:IdPDateTime"
				minOccurs="0" />
			<xs:element name="Stato" type="i:StatoPendenza" />
			<xs:element name="ImportoTotale" type="i:Importo" />
			<xs:element name="Divisa" type="i:Divisa" />
			<xs:element name="InfoPagamento" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InfoPagamento.InsertReplace">
							<xs:sequence>
								<xs:element name="DettaglioPagamento" type="DettaglioPagamento.InsertReplace"
									maxOccurs="unbounded" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Allegato" type="Allegato" minOccurs="0" />
			
			<!--01.03-02: (+)CAUSALE PAGAMENTO, (+)COORDINATE ACCREDITO, (+)NOTE PAGAMENTO -->
			<xs:element minOccurs="0" name="CausalePagamento" type="i:Max256Text" />
			<xs:element minOccurs="0" name="AccreditoPagamento" type="i:CoordinateBancarie" />
			<xs:element minOccurs="0" name="NotePagamento" type="i:Max256Text" />			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InfoPagamento.InsertReplace">
		<xs:attribute name="TipoPagamento" type="i:TipoPagamento"
			use="required" />
	</xs:complexType>
	<!-- (fine patch compatibilità AXIS 1.4 - Comune Prato) -->

	<xs:complexType name="DettaglioPagamento.InsertReplace">
		<xs:sequence>
			<xs:element name="IdPagamento" type="i:IdentificativoIdp" />
			<xs:element name="CIP" type="CIP" minOccurs="0" />
			<xs:element name="DataScadenza" type="i:IdPDate" />
			<xs:element name="DataInizioValidita" type="i:IdPDate"
				minOccurs="0" />
			<xs:element name="DataFineValidita" type="i:IdPDate" />
			<xs:element name="Stato" type="i:StatoPagamento" />
			<xs:element name="Importo" type="i:Importo" />
			<xs:element name="DettaglioImporto" type="DettaglioImporto"
				minOccurs="0" />
			<xs:element name="DettaglioTransazione" type="DettaglioTransazione"
				minOccurs="0" />
			<xs:element name="Allegato" type="Allegato" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- Definizione della Pendenza per Update Status (patch compatibilità AXIS 
		1.4 - Comune Prato) -->
	<xs:complexType name="Pendenza.UpdateStatus">
		<xs:sequence>
			<xs:element name="DataModificaEnte" type="i:IdPDateTime"
				minOccurs="0" />
			<xs:element name="Stato" type="i:StatoPendenza" minOccurs="0" />
			<xs:element name="InfoPagamento" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InfoPagamento.UpdateStatus">
							<xs:sequence>
								<xs:element name="DettaglioPagamento" type="DettaglioPagamento.UpdateStatus"
									maxOccurs="unbounded" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Allegato" type="Allegato" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InfoPagamento.UpdateStatus">
		<xs:attribute name="TipoPagamento" type="i:TipoPagamento"
			use="required" />
	</xs:complexType>
	<!-- (fine patch compatibilità AXIS 1.4 - Comune Prato) -->

	<xs:complexType name="DettaglioPagamento.UpdateStatus">
		<xs:sequence>
			<xs:element name="IdPagamento" type="i:IdentificativoIdp" />
			<xs:element name="Stato" type="i:StatoPagamento" />
			<xs:element name="DettaglioTransazione" type="DettaglioTransazione"
				minOccurs="0" />
			<xs:element name="Allegato" type="Allegato" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- Definizioni Comuni -->
	<xs:complexType name="Mittente">
		<xs:sequence>
			<xs:element name="Id" type="i:IdentificativoIdp" />
			<xs:element name="Descrizione" type="i:Max70Text"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Destinatari">
		<xs:sequence>
			<xs:element name="Destinatario" type="Destinatario"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Destinatario">
		<xs:sequence>
			<xs:element name="Id" type="i:IdentificativoIdp" />
			<xs:element name="Descrizione" type="i:Max70Text"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Tipo" type="i:TipoDestinatario" use="required" />
	</xs:complexType>

	<xs:complexType name="DettaglioTransazione">
		<xs:sequence>
			<xs:element name="DataPagamento" type="i:IdPDateTime" />
			<xs:element name="CanalePagamento" type="i:Max35Text" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DettaglioImporto">
		<xs:sequence>
			<xs:element name="Voce" type="Voce" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Voce">
		<xs:sequence>
			<xs:element name="Codice" type="i:Max35Text" />
			<xs:element name="Descrizione" type="i:Max70Text" />
			<xs:element name="Importo" type="i:Importo" />
			<xs:element name="CapitoloBilancio" type="i:Max35Text"
				minOccurs="0" />
			<xs:element name="Accertamento" type="i:Max35Text"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Tipo" type="i:Max35Text" use="required" />
	</xs:complexType>

	<xs:complexType name="Riscossore">
		<xs:sequence>
			<xs:element name="Id" type="i:Max35Text" />
			<xs:element name="Riferimento" type="i:Max35Text" />
		</xs:sequence>
	</xs:complexType>

	<!-- Definizione dell'Allegato -->

	<xs:complexType name="Allegato">
		<xs:sequence>
			<xs:element name="Titolo" type="i:Max70Text" minOccurs="0" />
			<xs:element name="Codifica" type="i:MIMETypeCode" />
			<xs:element name="Contenuto" type="xs:base64Binary" />
			<xs:element name="IdAntifalsificazione" type="i:Max4096Text"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Tipo" type="i:ContentType" use="required" />
	</xs:complexType>

	<!-- Definizione del Codice Identificativo del Pagamento -->
	<xs:complexType name="CIP">
		<xs:sequence>
			<xs:element name="Codice" type="i:Max256Text" />
		</xs:sequence>
		<xs:attribute name="Tipo" type="i:Max10Text" use="required" />
	</xs:complexType>

</xs:schema>
