sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/library/dsengine/xml2sqlcmd/resources/dtds/idp-dataset.dtd

<!ELEMENT dataset (
    jltalpe*,
    jltalpd*,
    jltcopd*,
    jltdepd*,
    esiti_pendenza*,
    errori_esiti_pendenza*,
    jltflus*,
    jltpend*,
    jltvopd*,
    pendenze_cart*)>

<!ELEMENT jltalpe EMPTY>
<!ATTLIST jltalpe
    ID_PENDENZA CDATA #REQUIRED
    ID_ALLEGATO CDATA #REQUIRED
    TS_DECORRENZA CDATA #REQUIRED
    ID_CONDIZIONE CDATA #IMPLIED
    FL_CONTESTO CDATA #REQUIRED
    TITOLO CDATA #IMPLIED
    TI_CODIFICA_BODY CDATA #IMPLIED
    DATI_BODY CDATA #REQUIRED
    TI_ALLEGATO CDATA #REQUIRED
    ID_ANTIFALSIFIC CDATA #IMPLIED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT jltalpd EMPTY>
<!ATTLIST jltalpd
    FLUSSO CDATA #REQUIRED
    ID_ALPD CDATA #REQUIRED
    UTENTECREATORE CDATA #REQUIRED
    ID_MITTENTE CDATA #REQUIRED
    ID_SYSTEM CDATA #REQUIRED
    ID_PENDENZAENTE CDATA #REQUIRED
    TIPOOPERAZIONE CDATA #REQUIRED
    KEYPENDENZA CDATA #REQUIRED
    KEYREPLACED CDATA #IMPLIED
    CO_VERSIONE CDATA #REQUIRED
    ID_MITTENTE_TRT CDATA #REQUIRED
    ID_SYSTEM_TRT CDATA #REQUIRED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT jltcopd EMPTY>
<!ATTLIST jltcopd
    ID_PENDENZA CDATA #REQUIRED
    ID_CONDIZIONE CDATA #REQUIRED
    TS_DECORRENZA CDATA #REQUIRED
    TI_PAGAMENTO CDATA #REQUIRED
    ID_ENTE CDATA #REQUIRED
    CD_TRB_ENTE CDATA #REQUIRED
    ID_PAGAMENTO CDATA #REQUIRED
    TI_CIP CDATA #IMPLIED
    CO_CIP CDATA #IMPLIED
    DT_SCADENZA CDATA #REQUIRED
    DT_INIZIOVALIDITA CDATA #IMPLIED
    DT_FINEVALIDITA CDATA #REQUIRED
    IM_TOTALE CDATA #REQUIRED
    ST_PAGAMENTO CDATA #REQUIRED
    DT_PAGAMENTO CDATA #REQUIRED
    DE_CANALEPAG CDATA #IMPLIED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
    OP_ANNULLAMENTO CDATA #IMPLIED
    TS_ANNULLAMENTO CDATA #REQUIRED
>

<!ELEMENT jltdepd EMPTY>
<!ATTLIST jltdepd
    ID_PENDENZA CDATA #REQUIRED
    ID_DESTINATARIO CDATA #REQUIRED
    TS_DECORRENZA CDATA #REQUIRED
    CO_DESTINATARIO CDATA #REQUIRED
    DE_DESTINATARIO CDATA #IMPLIED
    TI_DESTINATARIO CDATA #REQUIRED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT esiti_pendenza EMPTY>
<!ATTLIST esiti_pendenza
    ID_ESITO_PENDENZA CDATA #REQUIRED
    E2EMSGID CDATA #REQUIRED
    SENDERID CDATA #REQUIRED
    SENDERSYS CDATA #REQUIRED
    ID_PENDENZA CDATA #IMPLIED
    ESITO_PENDENZA CDATA #REQUIRED
    DESCRIZIONE_ESITO CDATA #IMPLIED
    ID_PENDENZA_ENTE CDATA #REQUIRED
    STATO CDATA #IMPLIED
    PR_VERSIONE CDATA #IMPLIED
    OP_INSERIMENTO CDATA #IMPLIED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT errori_esiti_pendenza EMPTY>
<!ATTLIST errori_esiti_pendenza
    ID_ERRORE CDATA #REQUIRED
    ID_ESITO_PENDENZA CDATA #REQUIRED
    ID_PENDENZA CDATA #IMPLIED
    ID_PENDENZA_ENTE CDATA #REQUIRED
    CODICE CDATA #REQUIRED
    DESCRIZIONE_ERRORE CDATA #IMPLIED
    PR_VERSIONE CDATA #IMPLIED
    OP_INSERIMENTO CDATA #IMPLIED
    TS_INSERIMENTO CDATA #REQUIRED
>

<!ELEMENT jltflus EMPTY>
<!ATTLIST jltflus
    FLUSSO CDATA #REQUIRED
    DATACREAZIONE CDATA #IMPLIED
    ORACREAZIONE CDATA #IMPLIED
    UTENTECREATORE CDATA #IMPLIED
    NOMESUPPORTO CDATA #IMPLIED
    QUANT_SICUREZZA CDATA #IMPLIED
    NUM_DISPOSIZIONI CDATA #IMPLIED
    TOT_IMPORTI_POS CDATA #IMPLIED
    TOT_IMPORTI_NEG CDATA #IMPLIED
    DIM_FLUSSO_FIRMATO CDATA #IMPLIED
    FIRMATARIO_1 CDATA #IMPLIED
    FIRMATARIO_2 CDATA #IMPLIED
    MAC CDATA #IMPLIED
    ANTICIPOINCASSI CDATA #IMPLIED
    DIVISA CDATA #IMPLIED
    SEGNO_IMP_PRESENT CDATA #IMPLIED
    TIPOSERVIZIO CDATA #IMPLIED
    TRACCIATO CDATA #IMPLIED
    SIA_MITTENTE CDATA #IMPLIED
    ABI_RICEVENTE CDATA #IMPLIED
    ADISPOSIZ_TESTA CDATA #IMPLIED
    ADISPOSIZ_CODA CDATA #IMPLIED
    DIVISA_CONTO_ORD CDATA #IMPLIED
    PARTIZIONAMENTO CDATA #IMPLIED
    SOGG_VEIC CDATA #IMPLIED
    CC_F24 CDATA #IMPLIED
    NUM_RECORD CDATA #IMPLIED
    ABI_ACCENTRATORE CDATA #IMPLIED
    TIPO_INCASSO_RID CDATA #IMPLIED
    PRODOTTO CDATA #IMPLIED
    CUC_RICEVENTE CDATA #IMPLIED
    CUC_BANCAMITTENTE CDATA #IMPLIED
    MSGID CDATA #IMPLIED
    IDE2E CDATA #IMPLIED
    QUALIFMSG CDATA #IMPLIED
    CREDTTM CDATA #REQUIRED
    BIC_RICEVENTE CDATA #IMPLIED
    ORGNLMSGID CDATA #IMPLIED
    ORGNLCREDTTM CDATA #REQUIRED
    GRPSTATUS CDATA #IMPLIED
    ID_MITTENTE_TRT CDATA #REQUIRED
    ID_SYSTEM_TRT CDATA #REQUIRED
    ID_MITTENTE CDATA #REQUIRED
    ID_SYSTEM CDATA #REQUIRED
    CO_VERSIONE CDATA #REQUIRED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT jltpend EMPTY>
<!ATTLIST jltpend
    ID_PENDENZA CDATA #REQUIRED
    TS_DECORRENZA CDATA #REQUIRED
    ID_ENTE CDATA #REQUIRED
    CD_TRB_ENTE CDATA #REQUIRED
    ID_TRIBUTO CDATA #REQUIRED
    ID_PENDENZAENTE CDATA #REQUIRED
    ID_SYSTEM CDATA #REQUIRED
    TS_CREAZIONEENTE CDATA #REQUIRED
    TS_EMISSIONEENTE CDATA #REQUIRED
    TS_PRESCRIZIONE CDATA #REQUIRED
    TS_MODIFICAENTE CDATA #REQUIRED
    CO_RISCOSSORE CDATA #IMPLIED
    RIFERIMENTO CDATA #IMPLIED
    ANNO_RIFERIMENTO CDATA #REQUIRED
    NOTE CDATA #IMPLIED
    DV_RIFERIMENTO CDATA #REQUIRED
    IM_TOTALE CDATA #REQUIRED
    CO_ABI CDATA #IMPLIED
    ID_MITTENTE CDATA #REQUIRED
    DE_MITTENTE CDATA #IMPLIED
    DE_CAUSALE CDATA #REQUIRED
    ST_PENDENZA CDATA #REQUIRED
    FL_MOD_PAGAMENTO CDATA #IMPLIED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
    OP_ANNULLAMENTO CDATA #IMPLIED
    TS_ANNULLAMENTO CDATA #REQUIRED
>

<!ELEMENT jltvopd EMPTY>
<!ATTLIST jltvopd
    ID_PENDENZA CDATA #REQUIRED
    ID_CONDIZIONE CDATA #REQUIRED
    ID_VOCE CDATA #REQUIRED
    TS_DECORRENZA CDATA #REQUIRED
    TI_VOCE CDATA #REQUIRED
    CO_VOCE CDATA #REQUIRED
    DE_VOCE CDATA #REQUIRED
    IM_VOCE CDATA #REQUIRED
    CO_CAPBILANCIO CDATA #IMPLIED
    CO_ACCERTAMENTO CDATA #IMPLIED
    ST_RIGA CDATA #REQUIRED
    PR_VERSIONE CDATA #REQUIRED
    OP_INSERIMENTO CDATA #REQUIRED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

<!ELEMENT pendenze_cart EMPTY>
<!ATTLIST pendenze_cart
    E2EMSGID CDATA #REQUIRED
    SENDERID CDATA #REQUIRED
    SENDERSYS CDATA #REQUIRED
    RECEIVERID CDATA #REQUIRED
    RECEIVERSYS CDATA #REQUIRED
    MESSAGGIO_XML CDATA #REQUIRED
    TIMESTAMP_RICEZIONE CDATA #REQUIRED
    NUM_PENDENZE CDATA #IMPLIED
    STATO CDATA #REQUIRED
    PR_VERSIONE CDATA #IMPLIED
    OP_INSERIMENTO CDATA #IMPLIED
    TS_INSERIMENTO CDATA #REQUIRED
    OP_AGGIORNAMENTO CDATA #IMPLIED
    TS_AGGIORNAMENTO CDATA #REQUIRED
>

