sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/library/converter/converter/docs/CBIInfTrfReq/xsd/CBIBdyInfTrfReq.00.01.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:LMSG="urn:CBI:xsd:CBIInfTrfReqLogMsg.00.01.01" xmlns:SGNT="urn:CBI:xsd:CBISgnInf.001.04" xmlns:TRBN="urn:CBI:xsd:CBITrfBonLogMsg.00.01.01" xmlns="urn:CBI:xsd:CBIBdyInfTrfReq.00.01.01" targetNamespace="urn:CBI:xsd:CBIBdyInfTrfReq.00.01.01" elementFormDefault="qualified">
	<!-- Namespace import -->
	<xs:import namespace="urn:CBI:xsd:CBIInfTrfReqLogMsg.00.01.01" schemaLocation="CBIInfTrfReqLogMsg.00.01.01.xsd"/>
	<xs:import namespace="urn:CBI:xsd:CBISgnInf.001.04" schemaLocation="CBISgnInf.001.04.xsd"/>
	<xs:import namespace="urn:CBI:xsd:CBITrfBonLogMsg.00.01.01" schemaLocation="CBITrfBonLogMsg.00.01.01.xsd"/>
	<xs:element name="CBIBdyInfTrfReq" type="CBIBdyInfTrfReq.00.01.01"/>
	<!-- Message Body structure definition -->
	<xs:complexType name="CBIBdyInfTrfReq.00.01.01">
		<xs:sequence>
			<xs:element name="PhyMsgInf" type="PhyMsgInfType">
				<xs:annotation>
					<xs:documentation>1.3.1.
Informazioni generali sul messaggio fisico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBIEnvelInfTrfReqLogMsg" type="CBIEnvelInfTrfReqLogMsg.00.01.01" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>1.3.2.
Messaggi logici. Il blocco è strutturato per contenere la firma digitale secondo le regole riportate nel documento FIRMA-MO-001. Se la firma non è prevista è possibile utilizzare direttamente il blocco CBIInfTrfReqLogMsg</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Envel InfTrfReq Service structure definition -->
	<xs:complexType name="CBIEnvelInfTrfReqLogMsg.00.01.01">
		<xs:choice>
				<xs:element name="CBIInfTrfReqLogMsg" type="LMSG:CBIInfTrfReqLogMsg.00.01.01">
					<xs:annotation>
						<xs:documentation>1.3.2.1.
Messaggio logico</xs:documentation>
					</xs:annotation>
				</xs:element>
			<xs:element name="CBISgnInf" type="SGNT:CBISgnInf.001.04">
				<xs:annotation>
					<xs:documentation>1.3.2.2.
Blocco di informazioni firma digitale</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PhyMsgInfType">
		<xs:sequence>
			<xs:element name="PhyMsgTpCd">
				<xs:annotation>
					<xs:documentation>1.3.1.1
Tipologia di messaggio fisico, espressa in forma codificata. Per la richiesta di servizio assume il valore fisso INF-TRF-01</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INF-TRF-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NbOfLogMsg" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>1.3.1.2
Indica il numero di messaggi logici contenuti nel messaggio fisico. Deve coincidere con il numero dei blocchi CBIEnvelInfTrfReqLogMsg</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusType">
		<xs:choice>
			<xs:element name="StsOK" type="xs:string"/>
			<xs:sequence>
				<xs:element name="StsKO" type="xs:string"/>
				<xs:element name="ErrorDescr" type="Max256Text"/>
				<xs:element name="ElmNm" type="Max256Text" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrgnlPhyMsgInfAndStsType">
		<xs:sequence>
			<xs:element name="IdE2EMsg">
				<xs:annotation>
					<xs:documentation>IdE2E presente nell'header di servizio del messaggio fisico referenziato </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XMLCreDt">
				<xs:annotation>
					<xs:documentation>XMLCreDt presente nell'header di servizio del messaggio fisico referenziato </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="StatusType">
				<xs:annotation>
					<xs:documentation>Riporta informazioni circa lo stato del messaggio fisico referenziato</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
