sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/library/converter/converter/docs/CBIInfTrfReq/xsd/CBIInfTrfReqPhyMsg.00.01.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:BODY="urn:CBI:xsd:CBIBdyInfTrfReq.00.01.01" xmlns:HTRT="urn:CBI:xsd:CBIHdrTrt.001.07" xmlns:HE2E="urn:CBI:xsd:CBIHdrSrv.001.07" xmlns:SGNT="urn:CBI:xsd:CBISgnInf.001.04" xmlns:LMSG="urn:CBI:xsd:CBIInfTrfReqLogMsg.00.01.01" xmlns:TRBN="urn:CBI:xsd:CBITrfBonLogMsg.00.01.01" xmlns="urn:CBI:xsd:CBIInfTrfReqPhyMsg.00.01.01" targetNamespace="urn:CBI:xsd:CBIInfTrfReqPhyMsg.00.01.01" elementFormDefault="qualified">
	<xs:import namespace="urn:CBI:xsd:CBIHdrTrt.001.07" schemaLocation="CBIHdrTrt.001.07.xsd"/>
	<xs:import namespace="urn:CBI:xsd:CBIHdrSrv.001.07" schemaLocation="CBIHdrSrv.001.07.xsd"/>
	<xs:import namespace="urn:CBI:xsd:CBIBdyInfTrfReq.00.01.01" schemaLocation="CBIBdyInfTrfReq.00.01.01.xsd"/>
	<xs:element name="CBIInfTrfReqPhyMsg" type="CBIInfTrfReqPhyMsg.00.01.01">
		<xs:annotation>
			<xs:documentation>1.
Tag root del messaggio fisico CBI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CBIInfTrfReqPhyMsg.00.01.01">
		<xs:sequence>
			<xs:element name="CBIHdrTrt" type="HTRT:CBIHdrTrt.001.07">
				<xs:annotation>
					<xs:documentation>1.1.
Header di tratta CBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBIHdrSrv" type="HE2E:CBIHdrSrv.001.07">
				<xs:annotation>
					<xs:documentation>1.2.
Header di servizio CBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBIBdyInfTrfReq" type="BODY:CBIBdyInfTrfReq.00.01.01">
				<xs:annotation>
					<xs:documentation>1.3.
Body di servizio, viene veicolato nel file qualora la dimensione totale del msg fisico superi 1MB</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
