sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/library/converter/converter/docs/CBIInfTrfReq/xsd/CBISgnInf.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Definizione del blocco di informazioni per la gestione della firma digitale incluso nella release 6.07 della documentazione Parte Generale -->
<xs:schema xmlns="urn:CBI:xsd:CBISgnInf.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CBI:xsd:CBISgnInf.001.04" elementFormDefault="qualified">
	<xs:element name="CBISgnInf" type="CBISgnInf.001.04">
		 <xs:annotation>
	            <xs:documentation> Definizione del blocco di informazioni per la gestione della firma digitale incluso nella release 6.07 della documentazione Parte Generale
	                               Non presenta alcuna variazione rispetto all'header di tratta incluso nella precedente release 6.06 </xs:documentation>
	        </xs:annotation>
      </xs:element>  		
	
	
	<xs:complexType name="CBISgnInf.001.04">
		<xs:sequence>
			<xs:element name="SgnTyp" type="SignatureType"/>
			<xs:element name="RefPlt" type="RecerencePlatform"/>
			<xs:element name="DtRef" type="ISODateTime"/>
			<xs:element name="Sgnt" type="P7M"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SignatureType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecerencePlatform">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="P7M">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
</xs:schema>
