sorgenti/posizione_debitorie/gepos-sorgenti/ebmonitor/IdpSchemiNdpBillerServices/src/main/resources/wsdl/AutorizzazionePagamento.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://idp.tasgroup.it/AutorizzazionePagamento/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutorizzazionePagamento"
	targetNamespace="http://idp.tasgroup.it/AutorizzazionePagamento/">
	<wsdl:types>
		<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://idp.tasgroup.it/AutorizzazionePagamento/"
			targetNamespace="http://idp.tasgroup.it/AutorizzazionePagamento/"
			version="1.0">

			<xsd:element name="VerificaPagamentoRequest" type="tns:RequestBase" />
			<xsd:element name="VerificaPagamentoResponse" type="tns:VerificaPagamentoResponseType" />
			<xsd:element name='VerificaPagamentoResponseType' type='tns:VerificaPagamentoResponseType' />
			<xsd:complexType name='VerificaPagamentoResponseType'>
				<xsd:complexContent>
					<xsd:extension base="tns:ResponseBase">
						<xsd:sequence>
							<xsd:element minOccurs='0' name='Body'
								type="tns:VerificaPagamentoResponseBodyType" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name='VerificaPagamentoResponseBodyType'>
				<xsd:complexContent>
					<xsd:extension base="tns:RequestBase">
						<xsd:sequence>
							<xsd:element name="ImportoPagamento" type="tns:Importo12.2" />
							<xsd:element name="CausaleVersamento" type="tns:stText140" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:element name="AttivaPagamentoRequest" type="tns:AttivaPagamentoRequestType" />
			<xsd:element name="AttivaPagamentoResponse" type="tns:AttivaPagamentoResponseType" />
			<xsd:element name='AttivaPagamentoRequestType' type='tns:AttivaPagamentoRequestType' />
			<xsd:complexType name='AttivaPagamentoRequestType'>
				<xsd:complexContent>
					<xsd:extension base="tns:RequestBase">
						<xsd:sequence>
							<xsd:element name="ImportoVersamento" type="tns:Importo12.2" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name='AttivaPagamentoResponseType' type='tns:AttivaPagamentoResponseType' />
			<xsd:complexType name='AttivaPagamentoResponseType'>
				<xsd:complexContent>
					<xsd:extension base="tns:ResponseBase">
						<xsd:sequence>
							<xsd:element minOccurs='0' name='Body'
								type="tns:AttivaPagamentoResponseBodyType" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name='AttivaPagamentoResponseBodyType'>
				<xsd:complexContent>
					<xsd:extension base="tns:RequestBase">
						<xsd:sequence>
							<xsd:element name="ImportoPagamento" type="tns:Importo12.2" />
							<xsd:element name="TipoIdentificativoUnivocoDebitore"
								type="tns:IdentificativoUnivocoDebitoreType" />
							<xsd:element name="CodiceIdentificativoUnivocoDebitore"
								type="tns:stText35" />
							<xsd:element name="AnagraficaDebitore" type="tns:stText70" />
							<xsd:element name="CausaleVersamento" type="tns:stText140" />
							<xsd:element name="TipoDebito" type="tns:stText50" />
							<xsd:element name="IdDebito" type="tns:stText50" />
							<xsd:element name="AnnoRiferimento" type="xsd:string" />
							<xsd:element name="IdMittente" type="tns:stText35" />
							<xsd:element name="DescrizioneMittente" type="tns:stText70"
								minOccurs="0" />
							<xsd:element name="IdRiscossore" type="tns:stText35"
								minOccurs="0" />
							<xsd:element name="RiferimentoRiscossore" type="tns:stText35"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name='RequestBase'>
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="tns:stText35" />
					<xsd:element name="IdentificativoUnivocoVersamento"
						type="tns:stText35" />
					<xsd:element name="CodiceContestoPagamento" type="tns:stText35" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ResponseBase'>
				<xsd:sequence>
					<xsd:element minOccurs='0' name='Fault' type='tns:FaultType' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='FaultType'>
				<xsd:sequence>
					<xsd:element name='FaultCode' type='tns:stText35' />
					<xsd:element name='FaultString' type='tns:stText512' />
					<xsd:element name='FaultDescription' type='tns:stText512' />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="TipoRichiestaType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="A"></xsd:enumeration>
					<xsd:enumeration value="V"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="IdentificativoUnivocoDebitoreType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="F"></xsd:enumeration>
					<xsd:enumeration value="G"></xsd:enumeration>
					<xsd:enumeration value="ANONIMO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Importo12.2">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0.00" />
					<xsd:maxInclusive value="99999999.99" />
					<xsd:fractionDigits value="2" />
					<xsd:totalDigits value="12" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name='stText35'>
				<xsd:restriction base='xsd:string'>
					<xsd:minLength value='1' />
					<xsd:maxLength value='35' />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name='stText50'>
				<xsd:restriction base='xsd:string'>
					<xsd:minLength value='1' />
					<xsd:maxLength value='50' />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name='stText70'>
				<xsd:restriction base='xsd:string'>
					<xsd:minLength value='1' />
					<xsd:maxLength value='70' />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name='stText140'>
				<xsd:restriction base='xsd:string'>
					<xsd:minLength value='1' />
					<xsd:maxLength value='140' />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name='stText512'>
				<xsd:restriction base='xsd:string'>
					<xsd:minLength value='1' />
					<xsd:maxLength value='512' />
				</xsd:restriction>
			</xsd:simpleType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="VerificaPagamentoRequest">
		<wsdl:part element="tns:VerificaPagamentoRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="VerificaPagamentoResponse">
		<wsdl:part element="tns:VerificaPagamentoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AttivaPagamentoRequest">
		<wsdl:part element="tns:AttivaPagamentoRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AttivaPagamentoResponse">
		<wsdl:part element="tns:AttivaPagamentoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="AutorizzazionePagamento">
		<wsdl:operation name="VerificaPagamento">
			<wsdl:input message="tns:VerificaPagamentoRequest" />
			<wsdl:output message="tns:VerificaPagamentoResponse" />
		</wsdl:operation>
		<wsdl:operation name="AttivaPagamento">
			<wsdl:input message="tns:AttivaPagamentoRequest" />
			<wsdl:output message="tns:AttivaPagamentoResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutorizzazionePagamentoSOAP" type="tns:AutorizzazionePagamento">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerificaPagamento">
			<soap:operation
				soapAction="http://idp.tasgroup.it/NdpServices/VerificaPagamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AttivaPagamento">
			<soap:operation
				soapAction="http://idp.tasgroup.it/NdpServices/AttivaPagamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutorizzazionePagamento">
		<wsdl:port binding="tns:AutorizzazionePagamentoSOAP" name="AutorizzazionePagamentoSOAP">
			<soap:address
				location="http://idp.tasgroup.it/IdpBillerNdPServices/AutorizzazionePagamento" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
